<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title Page</title>
        <body>
            <h1>
                {{pageTitle}}
            </h1>
            <p>
                This is about page
            </p>

            <footer>
                <p> Copyright  {{currentYear}}</p>
            </footer>

        </body>
    </head>
</html>